*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    transition: background 1.2s ease-in-out;
    height: 100vh;
    position: relative;
    background: url(../images/main_background.png) no-repeat center center;
    background-size: cover;
}

.desktop-icon {
    width: 125px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    padding: 1rem;
    transition: background 0.2s ease;
    border-radius: 6px;
}

.desktop-icon:hover {
    background-color: #ffffff1a;
}

.desktop-icon img {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto 6px auto;
    transition: transform 0.2s ease;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 10;
}

.footer-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    z-index: 2;
}

.box1 img {
    cursor: pointer;
}

#clock, #date {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: white;
    text-align: right;
    margin-right: 5px;
}

